<footer><br>
    <section class="footertextoiconos">
        <div class="textofooter">
            <label class="iconfooter"><i class="fas fa-credit-card"></i></label>
            <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
        </div>
        <div class="textofooter">
            <label class="iconfooter"><i class="fas fa-gift"></i></label>
            <h4>Envío gratis desde los $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
        </div>
        
        <div class="textofooter">
            <label class="iconfooter"><i class="fas fa-user-shield"></i></label>
            <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
        </div>
    </section>
    <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
</footer>