<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo" width="200">
        <p>Lugar para poner la barra de búsqueda</p>
        <i class="fa-solid fa-hand-holding-dollar"></i><p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="">Creá tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
        </header>

    <main>
        <img src="/images/img-home-banner.jpg" alt="img-home-banner.jpg" width="600">
        <section><br>
            <h3>Basado en tu última visita</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex.jpg" width="360">
                <p class="precio">$6.770</p><p class="descuentos">40% of</p><p class="desc">Cafetera Moulinex</p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg" width="360">
                <p class="precio">$230.000</p><p class="descuentos">20% off</p><p class="desc">MacBook Pro 2019</p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg" width="360">
                <p> class="precio"$70.500</p><p class="descuentos">10% off</p><p class="desc">Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart.jpg" width="360">
                <p class="precio">$23.200</p><p class="descuentos">5% off</p><p class="desc">SmartTv Samsung 43"</p>
            </article>
        </section>

        <section><br>
            <h3>Sección de Ofertas</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex.jpg" width="360">
                <p class="precio">$6.770</p><p class="descuentos">40% of</p><p class="desc">Cafetera Moulinex</p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg" width="360">
                <p class="precio">$230.000</p><p class="descuentos">20% off</p><p class="desc">MacBook Pro 2019</p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg" width="360">
                <p class="precio">$70.500</p><p class="descuentos">10% off</p><p class="desc">Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart.jpg" width="360">
                <p class="precio">$23.200</p><p class="descuentos">5% off</p><p class="desc">SmartTv Samsung 43"</p>
            </article>                
        </section>
    </main>

    <footer><br>
        <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </footer>

</body>
</html>