<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
    <%- include("./partials/head.ejs") %>
<body>
    <!-- Header -->
    <%- include("./partials/header.ejs") %>

    <img id="banner" src="/images/img-home-banner.jpg" alt="img-home-banner.jpg">
<main class="mainhome">

        <div class="hometitulos"><h2>Basado en tu última visita</h2><a href="/">Ver historial</a></div>
        
        <section id="ultimavisita">
            <article class="productoshome">
                <div class="foto-producto">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex.jpg">
                </div>
                    <p class="envio"><i class="fas fa-truck"></i></p>
                <div class="preciodescuentos">
                    <p class="precio">$6.770</p><p class="descuentos">40% of</p>
                </div>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>

            <article class="productoshome">
                <div class="foto-producto">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg">
                </div>
                <p class="envio"><i class="fas fa-truck"></i></p>
                <div class="preciodescuentos">
                    <p class="precio">$230.000</p><p class="descuentos">20% off</p>
                </div>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>

            <article class="productoshome">
                <div class="foto-producto">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg">
                </div>
                <p class="envio"><i class="fas fa-truck"></i></p>
                <div class="preciodescuentos">
                    <p class="precio">$70.500</p><p class="descuentos">10% off</p>
                </div>
                <p class="descripcion">Samsung Galaxy S10</p>
            </article>

            <article class="productoshome">
                <div class="foto-producto">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart.jpg">
                </div>
                <p class="envio"><i class="fas fa-truck"></i></p>
                <div class="preciodescuentos">
                    <p class="precio">$23.200</p><p class="descuentos">5% off</p>
                </div>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>

        <div class="hometitulos"><h2>Sección de Ofertas</h2><a href="/">Ver historial</a></div>
        <section class="ofertas">
            <article class="productoshome">
                <div class="foto-producto">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex.jpg">
                </div>
                <p class="envio"><i class="fas fa-truck"></i></p>
                <div class="preciodescuentos">
                    <p class="precio">$6.770</p><p class="descuentos">40% of</p>
                </div>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>

            <article class="productoshome">
                <div class="foto-producto">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg">
                </div>
                <p class="envio"><i class="fas fa-truck"></i></p>
                <div class="preciodescuentos">
                    <p class="precio">$230.000</p><p class="descuentos">20% off</p>
                </div>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>

            <article class="productoshome">
                <div class="foto-producto">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg">
                </div>
                <p class="envio"><i class="fas fa-truck"></i></p>
                <div class="preciodescuentos">
                    <p class="precio">$70.500</p><p class="descuentos">10% off</p>
                </div><p class="descripcion">Samsung Galaxy S10</p>
            </article>

            <article class="productoshome">
                <div class="foto-producto">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart.jpg">
                </div>
                <p class="envio"><i class="fas fa-truck"></i></p>
                <div class="preciodescuentos">
                    <p class="precio">$23.200</p><p class="descuentos">5% off</p>
                </div>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </article>                
        </section>
 </main>
    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>

</body>
</html>