<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include("./partials/head.ejs") %>
<body>
    <!-- Header -->
    <%- include("./partials/header.ejs") %>

    <main class="main_login">

        <form action="/" method="get">
            
            <section class="formulario_login">
                <h3>¡Ingresá!</h3>
                    <p>
                        <input type="email" placeholder="E-Mail" required>
                    </p>

                    <p>
                        <input type="text" placeholder="Contraseña" required>
                    </p>
                    <p class="login_button">
                        <input class="enviar" type="submit">
                    </p>
                    <span>
                        ¿No tienes cuenta?
                    </span>
                        <a href="/register">¡Regístrate!</a>
            </section>
        
        </form>
    
    </main>

<!-- Footer -->
<%- include("./partials/footer.ejs") %>

</body>
</html>