<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include("./partials/head.ejs") %>
<body>
    <!-- Header -->
    <%- include("./partials/header.ejs") %>
    
<main class="main_formulario_registro">
    <section class="formulario_registro">
        <form action="/" method="get">
            <h3>¡Regístrate!</h3>
                <section class="inputs">
                    <p>
                        <input type="text" placeholder="Nombre y Apellido" required> *
                    </p>

                    <p>
                        <input type="text" placeholder="Nombre de usuario" required> *
                    </p>

                    <p>
                        <input type="email" placeholder="E-Mail" required> *
                    </p>

                    <p>
                        <input type="password" required placeholder="Contraseña"> *
                    </p>

                    <p>
                        <input type="password" required placeholder="Reingrese la contraseña"> *
                    </p>

                    <h4>Fecha de nacimiento</h4>

                    <p> 
                        <input type="date" required> *
                    </p>

                    <p>
                        <input type="text" placeholder="Domicilio">
                    </p>

                    <h4>Perfil del usuario *</h4>
                    <p class="perfil_usuario">
                        <input type="radio" value="comprador" name="perfil" id="comprador" required>
                            <label for="comprador">Comprador</label>

                        <input type="radio" value="vendedor" name="perfil" id="vendedor" required>
                            <label for="vendedor">Vendedor</label>
                    </p>
                    <h4>Foto de usuario</h4>
                    <p>
                        <input type="file" name="avatar" accept=".jpg, .png">
                    </p>
                </section>
                
            <h4>Intereses</h4>
                <section class="intereses">
                    <p>
                        <input type="checkbox" value="electro" name="intereses" id="electro">
                            <label for="electro">Electro</label>
                    </p>
                    <p>
                        <input type="checkbox" value="moda" name="intereses" id="moda">
                            <label for="moda">Moda</label>
                    </p>
                    <p>
                        <input type="checkbox" value="hogar" name="intereses" id="hogar">
                            <label for="hogar">Hogar</label>
                    </p>
                    <p>
                        <input type="checkbox" value="jugueteria" name="intereses" id="jugueteria">
                            <label for="jugueteria">Jugueteria</label>
                    </p>
                    <p>
                        <input type="checkbox" value="sana" name="intereses" id="sana">
                            <label for="sana">Vida Sana</label>
                    </p>
                </section>

                <p>Items con * son obligatorios</p>
                <article class="input_botones">
                    <p class="registro_botones">
                        <input class="enviar" type="submit">
                        <input class="borrar" type="reset">
                    </p>
                </article>
        </form>
    </section>
</main>

<!-- Footer -->
<%- include("./partials/footer.ejs") %>

</body>
</html>