<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu Cuenta</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form action="/" method="get">
        <h3>¡Registrate!</h3>
    
            <p>Nombre y Apellido*
                <input type="text" placeholder="Ej: Juancho Perez" required>
            </p>

            <p>Nombre de usuario*
                <input type="text" placeholder="Ej: Juancho123" required>
            </p>

            <p>E-Mail*
                <input type="email" placeholder="Ej: juancho.perez@email.com" required>
            </p>

            <p>Contraseña*
                <input type="password" required>
            </p>

            <p>Vuelve a ingresar la contraseña*
                <input type="password" required>
            </p>

            <p> Fecha de nacimiento* 
                <input type="date" required>
            </p>

            <p>Domicilio
                <input type="text" placeholder="Ej: Corrientes 1800">
            </p>

        <h3>Perfil del usuario</h3>

            <p>
                <input type="radio" value="comprador" name="perfil" id="comprador">
                    <label for="comprador">Comprador</label>
            </p>
            <p>
                <input type="radio" value="vendedor" name="perfil" id="vendedor">
                    <label for="vendedor">Vendedor</label>
            </p>

            <p>Foto de usuario
                <input type="file" name="avatar" accept=".jpg, .png">
            </p>

        <h3>Intereses</h3>
            <p>
                <input type="checkbox" value="electro" name="intereses" id="electro">
                    <label for="electro">Electro</label>
            </p>
            <p>
                <input type="checkbox" value="moda" name="intereses" id="moda">
                    <label for="moda">Moda</label>
            </p>
            <p>
                <input type="checkbox" value="hogar" name="intereses" id="hogar">
                    <label for="hogar">Hogar</label>
            </p>
            <p>
                <input type="checkbox" value="jugueteria" name="intereses" id="jugueteria">
                    <label for="jugueteria">Jugueteria</label>
            </p>
            <p>
                <input type="checkbox" value="sana" name="intereses" id="sana">
                    <label for="sana">Vida Sana</label>
            </p>

            <input type="submit">
            <input type="reset">
    </form>


</body>
</html>