*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
    background-color: #ebebeb; 
}

/* Header */

.barraheader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 7px;
}

.barraheader input{
    width: 25vw;
    border-radius: 5px;
    border: 1px #000 solid;
    background-color: #fff;
    padding: 7px;
}

.barrasearchicono{
    width: 35px;
    text-align: center;
    border-radius: 5px;
    border: 1px #000 solid;
    background-color: #fff;
    padding: 7px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.navbar{
    display: flex;
}

.loginbar{
    display: flex;
}

.navbar a{
    margin-left: 30px;
}

.loginbar a{
    margin-left: 30px;
}

/* Main Home */

#ultimavisita{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ofertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header{
    background-color: #EAC926;
    padding-bottom: 10px;
}

.logo{
    width: 200px;
}

.burger-menu{
    display: none;
    background-color: #1259c3;
    color:white;
    text-align: center;
    width: 25px;
    height: 20px;
    margin: 10px 0 0 50%;
}

#textocuotas{
    text-align: center;
}

#banner{
    width: 100%;
    margin-top: 10px;
}

.mainhome h2{
    font-size: 26px;
    font-weight: 300;
    color: #666;
    padding: 5px;
    margin-left: 30px;
}

.hometitulos{
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 10px;
}

.hometitulos a{
    margin-left: 20px;
    color: #3483fa;
    text-decoration: none;
}

.foto-producto{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 15rem;
}

.descripcion{
    font-size: 16px;
    visibility: hidden;
    transition: all;
}

.productoshome{
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    margin: 10px;
    background-color: #FFF;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.productoshome:hover .descripcion{
    visibility: visible;
}

.productoshome:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.envio{
    display: flex;
    align-self: flex-end;
    color: #39b54a;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #39b54a;
    padding: 6px;
    transition: all 1000ms;
}

.productoshome:hover .envio{
    transform: rotate(-90deg);
}

.preciodescuentos{
    display: flex;
}

.preciodescuentos .precio{
    font-size: 18px;
    flex-grow: 0.3;
}

.preciodescuentos .descuentos{
    font-size: 16px;
    color: #39b54a;
    flex-grow: 0.7;
}

.mainhome p{
    font-size: 12px;
}

/* Main Registro*/

.main_formulario_registro{
    display: flex;
    justify-content: center;
}

.formulario_registro{
    justify-content: center;
    margin: 20px;
    background-color: #FFF;
    font-size: 16px;
    border: 1px solid #EAC926;
    padding: 10px;
}

.formulario_registro h3{
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.formulario_registro h4{
    display: flex;
    justify-content: center;
}

.intereses{
    display: flex;
}

.intereses p label{
    display: flex;
    margin-left: 6px;
}

.inputs input{
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #ebebeb;
    padding: 7px;
}

.input_botones .enviar{
    width: 100%;
    color: #fff;
    border-radius: 5px;
    border: 0;
    background-color: #1259c3;
    padding: 7px;
    margin: 10px;
}

.input_botones .borrar{
    width: 100%;
    color: #fff;
    border-radius: 5px;
    border: 0;
    background-color: #AA0044;
    padding: 7px;
    margin: 10px;
}

.formulario_registro p{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 20px;
    padding: 5px;
}

.perfil_usuario{
    position: relative;
    right: 40px;
}

/* Main Login */

.main_login{
    display: flex;
    justify-content: center;
}

.main_login input{
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #ebebeb;
    padding: 7px;
}
.main_login .enviar{
    width: 100%;
    color: #fff;
    border-radius: 5px;
    border: 0;
    background-color: #1259c3;
    padding: 7px;
    margin: 10px;
}

.formulario_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: #FFF;
    font-size: 16px;   
    box-sizing: border-box;
    border: 1px solid #EAC926;
    width: 300px;
    padding: 10px;
    text-align: center;
}

.formulario_login h3{
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.formulario_login p{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 5px;
}

.formulario_login a{
    display: flex;
    justify-content: center;
}

.login_button{
    display: flex;
    justify-content: center;
}

/* Footer */

footer{
    background-color:  #fff;
}

footer .footertextoiconos{
    display: flex;
    text-align: center;
    margin: 10px;
    padding-top: 10px;
}

footer h6{
    margin-top: 20px;
}

.textofooter{
    justify-content: center;
    padding: 7px;
}

.iconfooter{
    font-size: 2em;
    color:#1259c3;
    margin-bottom: 5px;
    margin-top: 20px;
    transition: all 500ms;
}

.iconfooter:hover{
    color:#EAC926;
}

@media (max-width: 361px){
    
    .descripcion{
        display: none;
    }

    .productoshome{
        box-shadow: none;
    }

    nav{
        display: none;
    }
}

@media (max-width: 769px){

    .loginbar{
        display: none;
    }

    .navbar{
        display: none;
    }

    .burger-menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hometitulos{
        display: block;
    }

    .hometitulos a{
        margin-left: 35px;
    }

    .descripcion{
        display:none;
    }

    .productoshome{
        box-shadow: none;
    }

    .barraheader{
        display: flex;
        flex-direction: column;
    }
    .barraheader input{
        width: 50vw;
    }

    .intereses{
        display: flex;
        flex-direction: column;
    }

    .footertextoiconos{
        display: flex;
        flex-direction: column;
    }

    .textofooter{
    padding: 7px;
    }

    .iconfooter{
        font-size: 30px;
        text-align: left;
    }
}
