body{
    font-family: "Roboto";
    background-color: #ebebeb; 
}

header{
    background-color: #EAC926;
}

#navbar{
    margin-left: 10px;
}

#loginbar{
    margin-left: 10px;
}

.logo{
    width: 200px;
}

#bordeBarra{
    border: 1px solid black;
    width: 200px;
    margin-left: 10px;
}
#bordeSearch{
    border: 1px solid black;
    width: 20px;
    margin-left: 10px;
}
.barra{
    padding: 4 4 4 4px;
    background-color: white;
}
.burger-menu{
    background-color: blue;
    color:white;
    text-align: center;
    width: 25px;
    height: 20px;
    margin-left: 50%;
}

main{
    background-color: white;
    text-align: center;
}

#textocuotas{
    text-align: center;
}

#banner{
    width: 100%;
    margin-top: 10px;
}

h3{
    font-size: 24px;
}

.precio{
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
}

.desc{
    font-size: 16px;
}

p{
    font-size: 12px;
}

footer{
    background-color:  white;
    text-align: center;
    line-height: 14px;
}

.iconfooter{
    font-size: 2em;
    color:blue;
    margin-bottom: 10px;
}

#copyright{
    text-align: left;
}
